@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("fontIcon/style.css");
*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --main_color : #46127b;
}
html {
    font-size: 16px;
}

body {
    min-height: 2000px;
}

.mxw-1300 {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.navigation {
    padding: 2rem 0;
    border-bottom: 1px solid #0002;
}

/* Header */
.wrapper {
    background-color: #f9f7fb;
}

.header_inner {
    padding: .5rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.header_titleContainer {

}

.header_title {
    color: var(--main_color);
    font-size: 1.3rem;
    font-weight: bold;
}
.header_togglerTitle {
    margin-bottom: .3rem;
}
.header_staticTitle  {
    color: #46127b;
}
.header_contentWrapper {

}
.header_form {

}
.badges_group {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
}
.badges_group::-webkit-scrollbar {
    height: 1px;
    background-color: transparent;
}
.badge{
    background-color: #fff;
    border: 1px solid #0004;
    color: #222;
    padding: 0 .7rem;
    line-height: 2;
    font-size: .8rem;
    font-weight: 400;
    margin-right: .5rem;
    text-decoration: none;
    transition: background-color .1s linear 0s;
}
.badge:hover {
    color: unset;
    background-color: #f7f7f7;
}
.badge_lg {
    font-size: 1rem;
}
.badge_sm {
    font-size: .7rem;
}
.badge.badgeActive {
    color: #fff;
    background-color:#00A5ef;
    border: none;
}

@media screen and (min-width:664px) {
    .navigation {
        padding: 1rem 0;
    } 
    .wrapper {
        padding: 2rem 0 0;
    }
    .header_contentWrapper{
        display: block!important;
    }
    .header_togglerTitle,
    .header_staticTitle {
        text-align: center;
        font-size: 2.5rem;
    }
    .header_contentWrapper {
        text-align: center;
        width: 450px;
        margin: 1rem auto;
        line-height: 2;
    }
    .header_contentParagraph {
        color: #333;
    }
    .header_contentBadgesTitle {
        color: #000;
        font-weight: medium;
        word-spacing: -.05rem;
    }
}
@media screen and (min-width:992px) {
    .wrapper  {
        border-bottom: 1px solid #46127b20;
    }
    .header_inner {
        display: flex;
        flex-flow: row nowrap;
    }

    .header_titleContainer {
        order: 1;
    }
    .header_titleContainer {
        flex-grow: 1;
        width: 55%;
        padding: 5rem 1rem 0;
    }
    .header_contentWrapper {
        text-align: left;
        width: 500px;
        margin-left: 0;
    }
    .header_formContainer {
        width: 45%;
    }
    .header_togglerTitle,
    .header_staticTitle {
        font-size: 3.3rem;
        text-align: left;
    }
    .header_contentBadgesTitle {
        margin-bottom: .5rem;
    }
}

/* header form */
.header_formContainer {
    /* border: 1px solid red; */

}
.form {
    /* border: 1px solid red; */
    min-height: 350px;
    /* background-color: white; */
}
.form_offerTypeToggler {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.form_offerTypeTitle {
    font-weight: normal;
    text-transform: capitalize;
}

.form_offerTypeTogglerBtn {
    color: #0052cc;
    display: block;
    text-transform: capitalize;
    font-size: .9rem;
}

.dropdown_btn {
    margin-top: .5rem;
    border: 1px solid #0002;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: .7rem ;
}
.dropdown_btn:focus {
    box-shadow: none;
}
.dropdown_btn:hover {
    background-color: #f6f6f6;
}
.dropdown-menu {
    width: 100%;
    margin-top: .5rem!important;
    padding: .5rem;
}
.dropdown-item {
    line-height: 2.3;
    border-radius: .2rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.dropdown-item:active {
    background-color: #f6f6f6;
    box-shadow: inset 0 .2rem .2rem #0001;
    color: unset;
}
.dropdown_btn.show .bi-caret-up-fill {
    display: block!important;
} 
.dropdown_btn.show .bi-caret-down-fill {
    display: none;
} 

.btcPrice {
    margin-top: .1rem;
}
.btcPriceLabel {
    color: #0007;
}
.paymentMethodsModalBtn {
    background-color: #fff;
    width: 100%;
    border: 1px solid #0002;
    line-height: 2;
    margin-top: .3rem;
    text-align: left;
}
.modal-dialog-scrollable {
    /* width: 100%; */
    /* margin: 0; */
}

/*Spend amount*/
.spendAmount{
    margin-top: 1rem;
}
.spendAmount_label{
    margin-bottom: .2rem;
}
.spendAmount_fieldWrapper {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    border: 1px solid #0002;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.spendAmount_spendValueInput {
    flex-grow: 1;
    outline: none;
    background-color: transparent;
    border: none;
    line-height: 2;
    display: block;
    padding-left:.7rem;
}

.spendAmout_Dropdown {
    display: flex;
    align-items: center;
}

.spendAmout_DropdownBtn {
    border: 1px solid #00A5ef;
    margin: .5rem;
    line-height: 1;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    font-size: .9rem;
}
.spendAmout_DropdownBtn:focus {
    box-shadow: none;
}
.spendAmout_DropdownBtn:hover {
    background-color: #00A5ef10;
}
.form_findOffersBtn {
    background-color: #00A5ef;
    color: #fff;
    padding: 0 1rem;
    line-height: 3;
    margin-top: 1rem;
}
.form_findOffersBtn:hover, 
.form_findOffersBtn:active {
    color: #fff;
    box-shadow:none;
    background-color: #0095da;
}
.spendAmount_minimumAmountTag {
    font-size: .9rem;
    color: #0009;
    margin: .2rem 0 0;
    display: block;
}

.header_XS_contentParagraph{
    margin-top: 1rem;
    font-size: .9rem;
    color: #000a;
}
@media screen and (min-width:768px) {
    .header_formContainer {
        /* border: 1px solid red; */
        padding: 1rem;
        position: relative;
        height: 213px;
    }
    .form {
        /* border: 1px solid red; */
        max-width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 1rem 2rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        position: relative;
        z-index: 2;
        top: 0%;
        margin: 0 auto;
        box-shadow: 0 5px 1rem #0001;
    }
    .form_offerTypeToggler {
        margin-top: 0;
    }
    .form_findOffersBtn {
        margin-bottom: 1rem;
    }
    .badges_group{
        justify-content: center;
    }
    .header_XS_contentParagraph {
        display: none;
        margin: 1rem 0;
        border: 1px solid red;
    }
}

@media screen and (min-width:992px) {
    .header_formContainer {
        /* border: 1px solid red; */
        padding: 1rem;
        padding-right: 3rem;
        position: relative;
        height: auto;
    }
    .form {
        max-width: 100%;
        background-color: #fff;
        padding: 1rem 2rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        position: relative;
        z-index: 0;
        top: 0%;
        margin: 0 auto 2rem;
        box-shadow: 0 5px 1rem #0001;
    }
    .form_offerTypeToggler {
        margin-top: 0;
    }
    .form_findOffersBtn {
        margin-bottom: 1rem;
    }
    .badges_group{
        justify-content: flex-start;
    }
}
.modal-backdrop {
    display: none;
}
.modal {
    width: 100vw!important;
    height: 100vh;
}
.modal::before {
    content: ' ';
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #0005;
    backdrop-filter: blur(5px);
    transition: backdrop-filter .2s linear 0s;
    -webkit-transition: backdrop-filter .2s linear 0s;
    -moz-transition: backdrop-filter .2s linear 0s;
    -ms-transition: backdrop-filter .2s linear 0s;
    -o-transition: backdrop-filter .2s linear 0s;
}

.aboutUsCardsWrapper {
    /* border: 1px solid red; */
    max-width: 1400px;
    margin-top: 2rem;
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .aboutUsCardsWrapper {
        padding-top: 20rem;
    }
}
@media screen and (min-width: 992px) {
    .aboutUsCardsWrapper {
        padding-top: 1rem;
    }
}
.aboutUsCard {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.cardImg {
    /* border: 1px solid red; */
}
.cardContent {
    display: block;
    margin-left: 1rem;
    font-size: .9rem;
    margin-top: .3rem;
}
.cardContent a {
    text-decoration: none;
}
@media screen and (min-width:768px) {
    .aboutUsCard {
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 3rem;
    }
    .cardImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.actionBoard {
    /* border: 1px solid red; */
}

.actionBoard_header {
    /* border: 1px solid red; */
    margin-top: 1rem;
    text-align: center;
}

.actionBoard_title {
    /* border: 1px solid red; */
    font-weight: bold;
    font-size: 2.3rem;
}

.actionBoard_subTitle {
    font-size: .9rem;
    margin-top: 1rem;
    color: #000a;
}

@media screen and (min-width:768px) {
    .actionBoard_header {
        max-width: 400px;
        margin: 1rem auto 0;
    }
    
}

@media screen and (min-width:992px) {
    .actionBoard_header {
        max-width: 50%;
        margin: 1rem auto 0;
    }
    .actionBoard_title {
        /* border: 1px solid red; */
        font-weight: bold;
        font-size: 2.3rem;
    }
    .actionBoard_subTitle {
        white-space: nowrap;
    }
}

.actionBoard_navPills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 2rem;
}

.actionBoard_navItem {
    /* border: 1px solid red; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.actionBoard_navLink {
    display: block;
    width: 100%;
    color: #000;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
    border-bottom: 1px solid #0002!important;
}
@media screen and (min-width:768px) {
    .actionBoard_navItem {
        padding: 0 .5rem;
        flex-grow: 0;
    }

}

.actionBoard_Wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.actionBoard_navLink.active {
    color: #000!important;
    background-color: transparent!important;
    border-bottom: 1px solid #0095da!important;
}

.actionBoard_tabContent {
    /* border: 1px solid red; */
}

.actionBoard_tabPane {
    /* border: 1px solid red; */
    
}

.actionBoard_cardsList {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.actionBoard_cardItem {
    /* border: 1px solid red; */
    list-style: none;
    padding: 0;

}

.actionBoard_card {
    text-decoration: none!important;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #0002;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    margin-bottom: .5rem;
    padding: .5rem;
}

.actionBoard_cardIconWrapper {

}

.actionBoard_cardIcon {
    font-size: 1.6rem;
    margin-left: .5rem;
}

.actionBoard_cardTitle {
    color: #000e;
    font-weight: normal;
    font-size: 1rem;
    margin-left: .8rem;
}

.actionBoard_cardSubTitle {
    display: none;
    margin: 0;
}
.actionBoard_card:hover .actionBoard_cardSubTitle,
.actionBoard_card:hover .actionBoard_cardTitle {
    text-decoration: underline 1px;
}
@media screen and (min-width:576px) {
    .actionBoard_card {
        flex-wrap: wrap;
    }
    .actionBoard_cardSubTitle {
        /* display: block; */
        font-size: .65rem;
        margin: .5rem 0;
        color: #000e;
    }
}
@media screen and (min-width:768px) {
    .actionBoard_cardItem {
        padding: 0 0 0 1rem;
    }
    .actionBoard_card {
        margin-bottom: 1rem;
        padding: 2rem 1.5rem;
    }
    .actionBoard_cardIcon {
        font-size: 3rem;
    }
    .actionBoard_cardTitle {
        display: block;
        margin: .5rem 0 0;
        font-weight: bold;
    }
    .actionBoard_cardSubTitle {
        display: block;
        font-size: .8rem;
        margin: .5rem 0;
        color: #000e;
    }
}
@media screen and (min-width:992px) {
    .actionBoard_cardIcon {
        font-size: 3rem;
    }
}

.actionBoard_offersBtn {
    display: block;
    width: 100%;
    background-color: #00A5ef;
    color: #fff;
    border: none;
    outline: none;
    line-height: 2.8;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    margin: 1rem auto ;
    padding: 0 1rem;
}

.actionBoard_offersBtn:hover {
    background-color: #0095da;
}

@media screen and (min-width:768px) {
    .actionBoard_offersBtn {
        width: max-content;
    }
}

.videoPlayer_subtitle{
    text-size-adjust: 100%;
    color: #333;
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    position: relative;
    width: 100%;
    max-width: 700px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 1.5rem!important;
    margin-right: auto!important;
    margin-left: auto!important;
    text-align: center!important;
    font-size: .875rem;
    line-height: 24px;
}
.video-placeholder-wrapper {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    margin-right: auto!important;
    margin-left: auto!important;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 150px;
    max-width: 450px;
    margin-top: 2rem;
}
.iframeLoader {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    /* background-color: #000; */
    /* padding-bottom: 56.25%; */
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* border: 1px solid red; */
}
.popup-youtube-player {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Open Sans,sans-serif;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%!important;
}
.html5-video-player {
    /* border: 1px solid red!important; */
}

/* Swiper slider */
.swiperContainer {
    max-width: 1000px;
    margin: 2rem auto;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 50px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
 .swiper-slideImg {
     display: block;
     max-width: 100%;
     max-height: 100%;
     width: 100%;
     height: 100%;
     object-fit: contain;
     pointer-events: none;
}
.swiper-slideImg::selection {
    background-color: transparent;
    color: unset;
}

 .swiper {
   margin-left: auto;
   margin-right: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    color: #000;
    font-size: 1rem;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px #0005;
    font-weight: bold;
}

.statesCard {
    background-color: #f9f7fb;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.statesCard_IconWrapper {
    display: flex;
    align-items: center;
}
.statesCard_IconWrapper img{
    max-width: 70%;
}

.statesCard_content {

}   

.statesCard_title {
    color: #46127b!important;
    font-weight: bold;
}
.statesCard_title::after {
    content: '+';
    color: #46127b!important;
    font-weight: bold;
}

.statesCard_subTitle {

}
